    <style type="text/css">
  table.my-grid {
  }
  table.my-grid th.my-header {
    background-color: #ebebeb;
  }
  table.my-grid tr.even{
    background-color: #ebebeb;
  }
</style>
<% javascript_include_tag 'floating_menu.js' %>
<script type="text/javascript">  
    floatingMenu.add('floatdiv',  
        {  
            // Represents distance from left or right browser window  
            // border depending upon property used. Only one should be  
            // specified.  
            // targetLeft: 0,  
            targetLeft: 10,  
  
            // Represents distance from top or bottom browser window  
            // border depending upon property used. Only one should be  
            // specified.  
            targetTop: 10,  
            // targetBottom: 0,  
  
            // Uncomment one of those if you need centering on  
            // X- or Y- axis.  
            // centerX: true,  
             //centerY: true,  
  
            // Remove this one if you don't want snap effect  
           // snap: true  
        });  
</script> 
<div id="wrapper">
  <div class="container-fixed">
     <div id="sidebar-wrapper">
          <ul class="col-md-2" id ="floatdiv">
              <div class="list-group">
                <a href="#" class="list-group-item active fixed">
                  Controls
                </a>      
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-arrow-left")+" Back", guild_path(@guild) ,class: 'list-group-item' %></a>
    
              </div>
              <div class="bs-callout bs-callout-info">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- UnderLeftControls -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2889093804964574"
         data-ad-slot="5647418646"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>  
          </ul>
    </div>


  <div class="col-md-10">
     <%= grid(@members_grid,html: {class: 'my-grid'}, header_tr_html:  {class: 'my-header'}) do |g|

            g.blank_slate content_tag(:div, "No records found", class: 'alert alert-info')

            g.column name:  'Class' , attribute: 'str_class' , html: {style: 'max-width: 50px'} ,  custom_filter: [['Esper', 'Esper'], ['Warrior', 'Warrior'], ['Stalker', 'Stalker'], ['Engineer', 'Engineer'],['Medic', 'Medic'],['Spellslinger', 'Spellslinger']]  do |task|
              content_tag(:div ,image_tag("Icon#{task.str_class}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center") if task.str_class
            end            

            g.column name:  'Role' , attribute: 'str_role' , html: {style: 'max-width: 50px'} , custom_filter: [['Dps', 'DPS'], ['Heal', 'Heal'], ['Tank', 'Tank']] do |task|
              content_tag(:div ,image_tag("#{task.str_role}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center") if task.str_role
            end

            g.column name:  'Name', attribute: 'name' , auto_reload: false , html: {style: 'max-width: 50px'} do |member|
              member.name
            end       
            g.column attribute:  'p_ga', name: '% GA' , auto_reload: false , html: {style: 'max-width: 50px'} do |member|
              member.p_ga.to_s + "%" if member.p_ga 
            end           
            g.column attribute:  'p_ds', name: '% DS' , auto_reload: false , html: {style: 'max-width: 50px'} do |member|
              member.p_ds.to_s + "%" if member.p_ds 
            end           
            g.column attribute:  'p_y', name: '% Y-83' , auto_reload: false , html: {style: 'max-width: 50px'} do |member|
              member.p_y.to_s + "%" if member.p_y
            end            
            g.column attribute:  'p_tot', name: '% Total' , auto_reload: false , html: {style: 'max-width: 50px'} do |member|
              member.p_tot.to_s + "%" if member.p_tot
            end           
            g.column name: 'GA' , auto_reload: false , ordering: false , html: {style: 'max-width: 50px'} do |member|
              member.attendances.where("raid_type = 0").count.to_s + " / " + @ga_total.to_s
            end            
            g.column name: 'DS' , auto_reload: false , ordering: false , html: {style: 'max-width: 50px'} do |member|
              member.attendances.where("raid_type = 1").count.to_s + " / " + @ds_total.to_s
            end            
            g.column name: 'Y-83' , auto_reload: false , ordering: false , html: {style: 'max-width: 50px'} do |member|
              member.attendances.where("raid_type = 2").count.to_s + " / " + @y_total.to_s
            end            
            g.column name: 'Total' , auto_reload: false , ordering: false , html: {style: 'max-width: 50px'} do |member|
              member.attendances.count.to_s + " / " + @totalRaids.to_s
            end



      end -%>

  </div>


</div>