<div class="panel panel-rops">
    <div class="panel-heading"><h1>RaidOps Wiki</h1></div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-warning">
            <h2> RaidOps addon </h2>
            <h4>
            	This the main "core" addon for people who manage things during raids. This is full set of its features:	
            	<br>
            	<div class="row">
	            	<div class="col-lg-12">
	            		<div class="row">
	            			<br>
	            			<div class="col-md-4">
	            				<div class="bs-callout bs-callout-feature">EPGP Management</div>
	            				<div class="bs-callout bs-callout-feature">Guild members import</div>
	            				<div class="bs-callout bs-callout-feature">Export to HTML table</div>
	            				<div class="bs-callout bs-callout-feature">Double GP value formula</div>
	            				<div class="bs-callout bs-callout-feature">Loot Logs</div>
	            				<div class="bs-callout bs-callout-feature">Context menu</div>
	            				<div class="bs-callout bs-callout-feature">Raid attendance tracking</div>
	            				<div class="bs-callout bs-callout-feature">Pop-up window on loot assignment</div>
	            				<div class="bs-callout bs-callout-feature">Loot filtering</div>
	            				<div class="bs-callout bs-callout-feature">Network bidding</div>
	            				<div class="bs-callout bs-callout-feature">Whisper support</div>
	            				<div class="bs-callout bs-callout-feature">Minimum EP</div>
	            				<div class="bs-callout bs-callout-feature">Timed awards</div>
	            			</div>
	            			<div class="col-md-4">
	            				<div class="bs-callout bs-callout-feature">DKP Management</div>
	            				<div class="bs-callout bs-callout-feature">Raid members import</div>
	            				<div class="bs-callout bs-callout-feature">Export to JSON</div>
	            				<div class="bs-callout bs-callout-feature">EPGP and DKP Decay</div>
	            				<div class="bs-callout bs-callout-feature">Modification comments</div>
	            				<div class="bs-callout bs-callout-feature">In-game tutorials</div>
	            				<div class="bs-callout bs-callout-feature">Raid loot tracking</div>
	            				<div class="bs-callout bs-callout-feature">Sophisticated grouping and sorting</div>
	            				<div class="bs-callout bs-callout-feature">Data sharing and sync</div>
	            				<div class="bs-callout bs-callout-feature">Raid queue</div>
	            				<div class="bs-callout bs-callout-feature">Mass edit</div>
	            				<div class="bs-callout bs-callout-feature">Base GP</div>
	            			</div>
	            			<div class="col-md-4">
	            				<div class="bs-callout bs-callout-feature">Undo / Redo with Activity Log</div>
	            				<div class="bs-callout bs-callout-feature">Export to CSV</div>
	            				<div class="bs-callout bs-callout-feature">2 Types of importable DB</div>
	            				<div class="bs-callout bs-callout-feature">Decay reminder</div>
	            				<div class="bs-callout bs-callout-feature">Alts support</div>
	            				<div class="bs-callout bs-callout-feature">Custom events handling</div>
	            				<div class="bs-callout bs-callout-feature">Raid Invites</div>
	            				<div class="bs-callout bs-callout-feature">Global GP value display on item tooltips</div>
	            				<div class="bs-callout bs-callout-feature">Chat bidding</div>
	            				<div class="bs-callout bs-callout-feature">Standby list</div>
	            				<div class="bs-callout bs-callout-feature">Multiple rosters</div>
	            				<div class="bs-callout bs-callout-feature">Diffrent precision settings</div>
	            			</div>
	            		</div>
	            	</div>
	            </div>
	        </h4>
	    </div>
	</div>
</div>