<div class="panel panel-rops">
    <div class="panel-heading"><h1>RaidOps Wiki</h1></div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-warning">
            <h2> Custom events</h2>
            <h4>	
            	<br>
            	<div class="row" align="center">
	            	<div class="col-md-12">
                        <div class="media">
                          <div class="media-left">
                              <img class="media-object" src="http://i.imgur.com/gR8c0N8.png" alt="...">
                          </div>
                          <div class="media-body">
                            <h4 class="bs-callout bs-callout-feature"> Custom events allow you to specify automatic awards when unit (boss/miniboss etc.) dies. </h4>
                          </div>
                        </div>                          
                        <div class="media">
                          <div class="media-center">
                              <img class="media-object" src="http://i.imgur.com/pUL4QLS.png" alt="..." width="100%">
                          </div>
                          <div class="media-body">
                            <h4 class="bs-callout bs-callout-feature"> This window displays all current entries + gives ability to remove them.</h4>
                          </div>
                        </div>  
	            	</div>
	            </div>
	        </h4>
	    </div>
	</div>
</div>