<div class="panel panel-rops">
    <div class="panel-heading"><h1>RaidOps Wiki</h1></div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-warning">
            <h2> Item assign </h2>
            <h4>	
            	<br>
            	<div class="row">
	            	<div class="col-md-12" align="center">
                        <div class="media">
                          <div class="media-left">
                              <img class="media-object" src="http://i.imgur.com/9GTYdPe.png" alt="...">
                          </div>
                          <div class="media-body">
                            <h4 class="bs-callout bs-callout-feature"> Whenever this message appears there will be pop-up window for you to review. </h4>
                          </div>
                        </div>                          
                        <div class="media">
                          <div class="media-center">
                              <img class="media-object" src="http://i.imgur.com/1uyp3N3.png" alt="..." width="100%">
                          </div>
                          <div class="media-body">
                            <h4 class="bs-callout bs-callout-feature"> Manual assign is also possible . The green button in "Manual Assign" window will bring you all items looted this session so you don't have to search for item ID. </h4>
                          </div>
                        </div>  
	            	</div>
	            </div>
	        </h4>
	    </div>
	</div>
</div>