<div class="panel panel-rops">
    <div class="panel-heading"><h1>RaidOps Wiki</h1></div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-warning">
            <h2> Undo/Redo </h2>
            <h4>	
            	<br>
            	<div class="row" align="center">
	            	<div class="col-md-12">
                        <div class="media">
                          <div class="media-center">
                              <img class="media-object" src="http://i.imgur.com/kVt1VQl.png" alt="...">
                          </div>
                          <div class="media-body">
                            <h4 class="bs-callout bs-callout-feature">
                              <div class="row">
                                <div class="col-md-12">
                                  Undo can be your life saver , when you've done something wrong. Simply press the button and you are back! Accessed from main window:
                                  <br><br>
                                  <ul align="center">
                                  <li> Blue left pointing arrow for direct undo.</li>
                                  <li> Button with bulb icon for Recent activity log.</li>
                                  </ul>
                                  In order to perform undo press the blue arrow in main window or red arrow pointing left in Recent Activity window.

                                  <h3>Recent Activity</h3>

                                  Window entitled "Recent Activity" presents your last 15 actions and shows following information:
                                  <ul align="center">
                                  <li> Index.</li>
                                  <li> Modification Type.</li>
                                  <li> Modifier value.</li>
                                  <li> Number of Affected Entries.</li>
                                  <li> Names of players affected. </li>
                                  <li> Comment.</li>
                                  <li> Timestamp.</li>
                                  </ul>
                                  <br><br>
                                  <h3>Redo</h3>
                                  
                                  Every Undo can be redone.Just press small red arrow pointing right in Recent Activity window.Performing redo will add undo entry back.
                                  <br><br>
                                  <h3>Registered events:</h3>
                                  <br><br>
                                  <ul align="center">
                                    <li> {Added Player}</li>
                                    <li> {Added Many Players}</li>
                                    <li> {Removed Player}</li>
                                    <li> {Removed Multiple Players}</li>
                                    <li> {Award for %s ID : %s}</li> (Custom Events)
                                    <li> {Timed Award}</li>
                                    <li> {Added DKP}</li>
                                    <li> {Added EP}</li>
                                    <li> {Added GP}  </li>
                                    <li> {Mass Added DKP}</li>
                                    <li> {Mass Added EP}</li>
                                    <li> {Mass Added GP}</li>  
                                    <li> {Subtracted DKP}</li>
                                    <li> {Subtracted EP}</li>
                                    <li> {Subtracted GP}</li>
                                    <li> {Mass Subtracted DKP}</li>
                                    <li> {Mass Subtracted EP}</li>
                                    <li> {Mass Subtracted GP}</li> 
                                    <li> {Set DKP}</li>
                                    <li> {Set EP}</li>
                                    <li> {Set GP}</li>
                                    <li> {Mass Set DKP}</li>
                                    <li> {Mass Set EP}</li>
                                    <li> {Mass Set GP}</li>
                                    <li> {Raid EP Award}</li>
                                    <li> {Raid GP Award}</li>
                                    <li> {EP GP Decay}</li>
                                    <li> {EP Decay}</li>
                                    <li> {GP Decay}</li>
                                </ul>
                                </div>
                              </div>
                            </h4>
                          </div>
                        </div>  
	            	</div>
	            </div>
	        </h4>
	    </div>
	</div>
</div>