<div class="panel panel-rops">
    <div class="panel-heading"><h1>RaidOps Wiki</h1></div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-warning">
            <h2> Export and Import </h2>
            <h4>	
            	<br>
            	<div class="row" align="center">
	            	<div class="col-md-12">
                    <div class="media">
                      <div class="media-center">
                          <img class="media-object" src="http://i.imgur.com/nYFGtAZ.png" alt="...">
                      </div>
                      <div class="media-body">
                        <h4 class="bs-callout bs-callout-feature"> 
                          <div class="row">
                            You can export to following formats:
                            <br>
                          <ul>
                          <li> CSV</li>
                          <li> HTML table (simple)</li>
                          <li> HTML table (formatted)</li>
                          </ul>
                          <br><br>
                          You can export in 3 different modes:
                          <br>
                          <ul>
                          <li> Export data as is from roster window.</li>
                          <li> Export EPGP</li>
                          <li> Export DKP</li>        
                           </ul>
                          </div>
                        </h4>
                      </div>
                    </div>  
	            	</div>
	            </div>
	        </h4>
	    </div>
	</div>
</div>