<div class="panel panel-rops">
    <div class="panel-heading"><h1>RaidOps Wiki</h1></div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-warning">
            <h2> Welcome to revision 3 of RaidOps wiki! </h2>
            <h4>	
            	<br>
            	<div class="row" align="center">
	            	<div class="col-md-12">
                        <div class="media">
                          <div class="media-center">
                              <img class="media-object" src="http://i.imgur.com/YogSLEA.png" alt="...">
                          </div>
                          <div class="media-body">
                            <h4 class="bs-callout bs-callout-feature">
                              <div class="row">
                                Whenever something changes with player's EP or GP , log is added.Logs window can be accessed from Context menu.
                                <ul>
                                What is logged:
                                <li> Comment</li>
                                <li> Modification type</li>
                                <li> Modifier</li>
                                <li> Time stamp</li>
                                </ul>
                                Logs can be exported if needed.
                              </div>
                            </h4>
                          </div>
                        </div>  
	            	</div>
	            </div>
	        </h4>
	    </div>
	</div>
</div>