<div class="panel panel-rops">
    <div class="panel-heading"><h1>RaidOps Wiki</h1></div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-warning">
            <h2> Decay EPGP and DKP </h2>
            <h4>	
            	<br>
            	<div class="row" align="center">
	            	<div class="col-md-12">
                        <div class="media">
                          <div class="media-center">
                              <img class="media-object" src="http://i.imgur.com/F3ViqW4.png" alt="...">
                          </div>
                          <div class="media-body">
                            <h4 class="bs-callout bs-callout-feature"> You can additionaly set-up decay reminder by pressing the button in the upper left corner of both windows.</h4>
                          </div>
                        </div>  
	            	</div>
	            </div>
	        </h4>
	    </div>
	</div>
</div>