<div class="panel panel-rops">
    <div class="panel-heading"><h1>RaidOps Wiki</h1></div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-warning">
            <h2> Alts </h2>
            <h4>	
            	<br>
            	<div class="row" align="center">
	            	<div class="col-md-12">
                    <div class="media">
                      <div class="media-center">
                          <img class="media-object" src="http://i.imgur.com/fb1FNOD.png" alt="...">
                      </div>
                      <div class="media-body">
                        <h4 class="bs-callout bs-callout-feature"> 
                        <div class="row">
                          Whenever character associated with another as an Alt appears in raid , instead of creating new account all actions will be redirected to the owner's account.Alts window can be accessed from Context menu.
                          <br><br>
                          If player is found playing on alt special yellow indicator will appear on player's bar with tooltip specifying on which alt he/she currently is.
                          <br><br>
                          In order to add alt , simply write the name of alt and press add alt. If alt character has already independent account , you will be presented with 2 options:
                          <br><br>
                          <ul>
                          <li>Merge accounts adding EP and GP values of alt account to owner's account.</li>
                          <li>Remove alt's account and add this player as an alt.</li>
                          </ul>
                        </div>
                        </h4>
                      </div>
                    </div>  
	            	</div>
	            </div>
	        </h4>
	    </div>
	</div>
</div>