<div class="panel panel-rops">
    <div class="panel-heading"><h1>RaidOps Wiki</h1></div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-warning">
            <h3> Main window overview , images are going to show things better than raw text. </h3>
            <h4>	
            	<br>
            	<div class="row" align="center">
	            	<div class="col-md-12">
                        <div class="media">
                          <div class="media-left">
                              <img class="media-object" src="http://i.imgur.com/vfP6g1G.png" alt="...">
                          </div>
                        </div>                        
                        <div class="media">
                          <div class="media-left">
                              <img class="media-object" src="http://i.imgur.com/gyAH3Ph.png" alt="...">
                          </div>
                        </div>                        
                        <div class="media">
                          <div class="media-left">
                              <img class="media-object" src="http://i.imgur.com/fkghowA.png" alt="...">
                          </div>
                        </div>
	            	</div>
	            </div>
	        </h4>
	    </div>
	</div>
</div>