<div class="panel panel-rops">
    <div class="panel-heading"><h1>RaidOps Wiki</h1></div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-warning">
            <h3>Members can be imported during raid or directly from guild roster</h3>
            <h4>	
            	<br>
            	<div class="row">
	            	<div class="col-md-12">
                        <div class="media">
                          <div class="media-left">
                              <img class="media-object" src="http://i.imgur.com/KtdCZgv.png" alt="...">
                          </div>
                          <div class="media-body">
                            <h4 class="bs-callout bs-callout-feature">Select appropriate ranks , specify minimum level and press Import. If there's no ranks' names then you can use this Get Data button to refresh. </h4>
                          </div>
                        </div>  
	            	</div>
	            </div>
	        </h4>
	    </div>
	</div>
</div>