<div class="panel panel-rops">
    <div class="panel-heading"><h1>RaidOps Wiki</h1></div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-warning">
            <h2> EPGP Settings</h2>
            <h4>	
            	<br>
            	<div class="row" align="center">
	            	<div class="col-md-12">
                        <div class="media">
                          <div class="media-center">
                              <img class="media-object" src="http://i.imgur.com/i0KY6WA.png" alt="..." width="100%">
                          </div>
                        </div>  
	            	</div>
	            </div>
	        </h4>
	    </div>
	</div>
</div>