
<div class="panel panel-rops">
    <div class="panel-heading"><h1>RaidOps Wiki</h1></div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-warning">
            <h2> Loot Logs </h2>
            <h4>	
            	<br>
            	<div class="row" align="center">
	            	<div class="col-md-12">
                        <div class="media">
                          <div class="media-center">
                              <img class="media-object" src="http://i.imgur.com/HjW5eUX.png" alt="...">
                          </div>
                          <div class="media-body">
                            <h4 class="bs-callout bs-callout-feature"> 
                                <div class="row">
                                    Loot Logs present in neat manner all items won by an individual , by whole roster or selected individuals.Window can be accessed depending on mode:
                                    <br><br>
                                    <ul>
                                    <li> From Context menu.
                                         (For single person.)</li>
                                    <li> From Mass Edit toolbar.
                                         (For selected group.)</li>
                                    <li> From the "Bag" button that you can find on the bottom of main window.(Whole roster)</li>
                                    <br>
                                    </ul>
                                    Loot Logs are working on the item bubbles idea , each bubble has it's own category depending on grouping:
                                    <br><br>
                                    <ul>
                                    <li> Recipient's name.</li>
                                    <li> Item Category</li>
                                    <li> Date</li>
                                    </ul>
                                    Each bubble has own grid of items displaying drop count and winner(s).
                                </div>
                            </h4>
                          </div>
                        </div>                         
                        <div class="media">
                          <div class="media-center">
                              <img class="media-object" src="http://i.imgur.com/ejIqDSG.png" alt="...">
                          </div>
                          <div class="media-body">
                            <h4 class="bs-callout bs-callout-feature"> 
                                <div class="row">
                                Additional filtering settings.
                                </div>
                            </h4>
                          </div>
                        </div>  
	            	</div>
	            </div>
	        </h4>
	    </div>
	</div>
</div>