<div class="panel panel-primary">
    <div class="panel-heading"><h1>RaidOps Wiki</h1></div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-info">
            <h2> Welcome to revision 3 of RaidOps wiki! </h2>
            <h4>	
            	<br>
            	<div class="row">
	            	<div class="col-md-6">
	            	RaidOps is an addon family for Wildstar that provide raid oriented support like:
	            		<br>
		            	<div class="bs-callout bs-callout-warning">
		            		EPGP and DKP management.
		            	</div>            	
		            	<div class="bs-callout bs-callout-warning">
		            		Enchanced Master Loot functionality.
		            	</div>            	
		            	<div class="bs-callout bs-callout-warning">
		            		Chat and network bidding functionality.
		            	</div>  		            	
		            	<div class="bs-callout bs-callout-warning">
		            		Raid invites.
		            	</div>            	
	            	</div>
	            	<div class="col-md-6">
	            	There are following addons in the family:	        
	            		<br>
	            		<br>
		            	<div class="bs-callout bs-callout-success">
		            		RaidOps
		            	</div>            	
		            	<div class="bs-callout bs-callout-success">
		            		RaidOps LootHex
		            	</div>            	
		            	<div class="bs-callout bs-callout-success">
		            		RaidOps Member Module
		            	</div>            	
		            	<div class="bs-callout bs-callout-success">
		            		RaidOps Master Loot
		            	</div>
	            	</div>
	            </div>
	            <br>
	            <div class="row">
	            	<div class="col-xs-12">
		            	<div class="bs-callout bs-callout-feature">
		            		The main "RaidOps" addon is <b>quite big</b> and it may be overwhelming to start with , but it should serve you well once you grasp the basics.
		            	</div>
	            	</div>
	            </div>
            </h4>
        </div>
    </div>
</div>