<script type="text/javascript">  
    floatingMenu.add('floatdiv',  
        {    
            targetLeft: 10,  
            targetTop: 10,  
        });  
</script> 
<style type="text/css">/* Base styles (regardless of theme) */
/* Panels colors */
.panel-warning {
  background-color: #FFF9ED;
  border-color: #FFBD42;
}
.panel-warning .panel-heading {
  background-color: #FFBD42;
  border-color: #FFBD42;
}
</style>
<div class="row">
  <%= render 'sidebar.html.erb'%>
  <div class="col-lg-9 text-center">
    <div class="panel panel-primary">
        <div class="panel-heading"><h1>Changelog</h1></div>
        <div class="panel-body">
          <div class="bs-callout bs-callout-info">
            <h2>Website version v1.3</h2>
            <h4>04.09.2015</h4>
            <p>Added API</p>
          </div>
      </div>
    </div>
  </div>
</div>