<script type="text/javascript">  
floatingMenu.add('floatdiv',  
    {  
        targetLeft: 10,   
        targetTop: 10,  
    });  
</script> 
<div class="row">
  <div class="col-md-2" id="floatdiv">
    <div class="bs-callout bs-callout-info">
      <%= render 'ad.html.erb' %>
    </div>
  </div>
  <div class="col-lg-10">
    <%= grid(@search_grid,html: {class: 'my-grid'}, header_tr_html:  {class: 'my-header'}) do |g|

            g.blank_slate content_tag(:div, "No records found", class: 'alert alert-info')

            g.column name:  'Class' , attribute: 'str_class' , html: {style: 'max-width: 75px'} ,  custom_filter: [['Esper', 'Esper'], ['Warrior', 'Warrior'], ['Stalker', 'Stalker'], ['Engineer', 'Engineer'],['Medic', 'Medic'],['Spellslinger', 'Spellslinger']]  do |task|
              content_tag(:div ,image_tag("Icon#{task.str_class}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center") if task.str_class
            end            

            g.column name:  'Role' , attribute: 'str_role' , html: {style: 'max-width: 50px'} , custom_filter: [['Dps', 'DPS'], ['Heal', 'Heal'], ['Tank', 'Tank']] do |task|
              content_tag(:div ,image_tag("#{task.str_role}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center") if task.str_role
            end
           
            g.column name:  'Name', attribute: 'name' , auto_reload: false  do |task|
              task.name
            end
            g.column name:  'Guild', attribute: 'guild_id' , auto_reload: false , html: {style: 'max-width: 50px'} do |task|
              content_tag(:div,(link_to "#{Guild.find(task.guild_id).name}" , guild_path(task.guild_id) , class: 'btn btn-info'),:align => "center")
            end
            g.column  name:  'Details' , html: {style: 'max-width: 40px'} do |task|
              content_tag(:div,(link_to "More" , guild_guild_member_items_path(task.guild_id,task.id) , class: 'btn btn-default'),:align => "center")
            end
          end -%>
        </div>
</div>