
<% if @guild and @guild.add_profile and @guild.add_profile == "Left+Top" then%>
<div class="well">
    <div class="row">
        <p style="font-size:12px" align="center">These ads are here because guild has decided to put them here  , see more <%= link_to 'here...' , ad_profiles_guild_path(@guild) %></p>
        <div class="col-md-6" align="center">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- UnderTopNav -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-2889093804964574"
                 data-ad-slot="1361442244"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>        
        <div class="col-md-6" align="center">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- UnderTopNav -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-2889093804964574"
                 data-ad-slot="1361442244"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>

</div>
<% end %>

